max_allowed_packet      = 16M                                                                                                                                                                    
thread_stack            = 192K                                                                                                                                                                   
thread_cache_size       = 50                                                                                                                                                                     
myisam_sort_buffer_size = 64M                                                                                                                                                                    
read_rnd_buffer_size = 4M                                                                                                                                                                        
read_buffer_size = 4M                                                                                                                                                                            
sort_buffer_size = 3M                                                                                                                                                                            
table_open_cache = 800                                                                                                                                                                           
key_buffer_size = 128M                                                                                                                                                                           
tmp_table_size = 128M                                                                                                                                                                            
max_heap_table_size = 128M                                                                                                                                                                       
                                                                                                                                                                                                 
table_definition_cache          = 10000                                                                                                                                                          
table_open_cache                = 10000                                                                                                                                                          
open_files_limit                = 60000                                                                                                                                                          
                                                                                                                                                                                                 
                                                                                                                                                                                                 
#query_cache_type = 1                                                                                                                                                                            
#query_cache_limit       = 1M                                                                                                                                                                    
#query_cache_size        = 80M                                                                                                                                                                   
#query_cache_min_res_unit = 2k                                                                                                                                                                   
group_concat_max_len    = 102400                                                                                                                                                                 
                                                                                                                                                                                                 
log_warnings            = 1
log_error               = /var/log/mysql/mariadb.err
general_log_file        = /var/log/mysql/mysql.log






#disable cache
query_cache type        = 0
query_cache_size        = 0
thread_cache_size       = 0
subquery_cache          = off
semijoin_with_cache     = off
outer_join_with_cache   = off
join_cache_incremental  = off
join_cache_hashed       = off
join_cache_bka          = off
table_open_cache        = off
join_cache_level        = 0
host_cache_size         = 0
have_query_cache        = no
